@model IEnumerable<ElderAbuse.Models.ResponseType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="padding-top:75px">
    <link href="~/Content/infocss/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/infocss/templatemo_misc.css">
    <link type="text/css" rel="stylesheet" href="~/Content/infocss/easy-responsive-tabs.css" />
    <link href="~/Content/infocss/templatemo_style.css" rel="stylesheet">

    <script src="~/Scripts/infojs/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/infojs/jquery.lightbox.js"></script>
    <script src="~/Scripts/infojs/templatemo_custom.js"></script>
    <script src="~/Scripts/infojs/easyResponsiveTabs.js" type="text/javascript"></script>
  
    <!-- team start -->
    <div class="menu-container" >
        <div class="container">
            <div class="row templatemo_bordergapborder">
                <div class="col-md-3 col-sm-12 templatemo_leftgap">
                    <div class="templatemo_mainimg templatemo_botgap"><img src="~/img/infoimg/hand3.jpg" alt="contact image"></div>
                    <div class="templatemo_maincontact templatemo_botgap">
                        <div class="templatemo_linkcontact">Our Team</div>
                    </div>
                </div>

                <div class="templatemo_col37 col-sm-12 templatemo_leftgap">
                    <div class="templatemo_graybg templatemo_botgap">
                        <div class="templatemo_frame">
                            <h3>The Sentinels</h3>
                            <img src="~/img/Untitled6.jpg" />
                            <br /><br />
                            <p style="font-size: 20px;" >
                                Allow us to introduce ourselves. we are the Sentinels. Our team comprises of four Monash students - Saad, Afzal, Jennifer and Jessica.<br /><br />
                            </p>

                            <p style="font-size: 20px; ">
                                We are looking for solutions to help elders improve their lives in the area of elder abuse. We all have skills in our fields but when combined into one team it makes it a team of complex skills and culture. We are trying to raise the public awareness of this issue and help with early detection of elder abuse.

                                <br /><br />
                            </p>


                        </div>
                    </div>
                </div>
                <div class="templatemo_col37 col-sm-12 templatemo_leftgap templatemo_topgap">
                    <div class="templatemo_graybg templatemo_botgap">
                        <div class="templatemo_frame">
                            <h3>H.E.L.P</h3>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/HR0NdGcMc0U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
