.bgimg {
    background-color:white;
    background-size: cover;
}


.responsive {
    width: 100%;
    height: auto;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%
}



.slider {
    width:100%;
    max-width: 800px;
    height: 380px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;   
    margin-top: 20px;
    margin:auto;
    padding-top:50px
}

.home_options {
    color:black
}
.questionArea {
    height: 200px;
    line-height: 200px;
    text-align: center;
}
.span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.questionNumber {
    font-size:60px
}

.question {
    font-size:60px
}

.previousQuestion {
    text-align: center;
    font-size:20px
}

.nextQuestion {
    text-align: center;
    font-size:40px
}

.btn_area {
    text-align:center
}

.class_radio {
    width: 20em;
    height: 20em;
}


