@model IEnumerable<ElderAbuse.Models.ResponseType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="padding-top:75px">
    <link href="~/Content/infocss/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/infocss/templatemo_misc.css">
    <link type="text/css" rel="stylesheet" href="~/Content/infocss/easy-responsive-tabs.css" />
    <link href="~/Content/infocss/templatemo_style.css" rel="stylesheet">

    <script src="~/Scripts/infojs/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/infojs/jquery.lightbox.js"></script>
    <script src="~/Scripts/infojs/templatemo_custom.js"></script>
    <script src="~/Scripts/infojs/easyResponsiveTabs.js" type="text/javascript"></script>

    <script>
        function showhide() {
            var div = document.getElementById("newpost");
            if (div.style.display !== "none") {
                div.style.display = "none";
            }
            else {
                div.style.display = "block";
            }
        }
    </script>
    <div id="menu-container" class="main_menu">
        <!-- homepage start -->
        <div class="content homepage" id="menu-1">
            <div class="container">
                <div class="col-md-3 col-sm-6 templatemo_leftgap">
                    <div class="templatemo_mainservice templatemo_botgap">
                        <div class="templatemo_link"><a id="title_look" class="show-2 templatemo_page2" href="#">Elder Abuse</a></div>

                    </div>
                    <div class="templatemo_mainimg"><img src="~/img/infoimg/bangles.jpg" alt="home img 01"></div>
                </div>
                <div class="col-md-3 col-sm-6 templatemo_leftgap">
                    <div class="templatemo_mainimg templatemo_botgap templatemo_portfotopgap"><img src="~/img/infoimg/tea.jpg" alt="home img 02"></div>
                    <div class="templatemo_mainportfolio">
                        <div class="templatemo_link"><a id="title_look" class="show-3 templatemo_page3" href="#">Types of Abuse</a></div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6 templatemo_leftgap">
                    <div class="templatemo_maintesti templatemo_botgap templatemo_topgap">
                        <div class="templatemo_link"><a id="title_look" class="show-4 templatemo_page4" href="#">Key Facts</a></div>
                    </div>
                    <div class="templatemo_mainimg"><img src="~/img/infoimg/question.jpg" alt="home img 03"></div>
                </div>
                <div class="col-md-3 col-sm-6 templatemo_leftgap">
                    <div class="templatemo_mainimg templatemo_botgap templatemo_portfotopgap"><img src="~/img/infoimg/hand1.jpg" alt="home img 02"></div>
                    <div class="templatemo_maincontact">
                        <div class="templatemo_link"><a id="title_look" class="show-6 templatemo_page6" href="#">Prevention</a></div>

                    </div>
                </div>
            </div>

        </div>
        <!-- homepage end -->
        <!--elder abuse start -->
        <div class="content services" id="menu-2">
            <div class="container">
                <div class="row templatemo_bordergapborder">
                    <div class="col-md-3 col-sm-12 templatemo_leftgap">
                        <div class="templatemo_mainimg templatemo_botgap"><img src="~/img/infoimg/templatemo_service1.jpg" alt="service image"></div>
                        <div class="templatemo_mainservice templatemo_botgap">
                            <div class="templatemo_linkservice"><a id="title_look" class="show-1 templatemo_homeservice" href="#">Go Back</a></div>
                        </div>
                    </div>

                    <div class="templatemo_col37 col-sm-12 templatemo_leftgap">
                        <div class="templatemo_graybg">
                            <div class="templatemo_frame">
                                <h3>Elder Abuse</h3>
                                <div class="clear"></div>
                                <p style="font-size: 20px;">
                                    According to international statistics, it is likely that 2% to 10% of older Australians are experiencing elder abuse in any given year considering the prevalence of neglect being quite high. The number of hotline calls for elder abuse has increased dramatically. It was found that there were only 755 calls made to the hotline in the span of 4 years. The statistics show that most abuses are gone unreported due to the fact that the people do not know or understand that they are being abused. 
                                    <br /><br />
                                    According to EAPU, the financial abuse comes at the top with 41% of the calls talking about financial abuse. The elders affected by abuse are prone to physical, mental and financial problems. Apart from this, their active engagement in the society is restricted and studies have shown that in such cases elders show symptoms of suicide, constant neglect and many of them tend to leave their homes to go old age cares.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="templatemo_col37 col-sm-12 templatemo_leftgap templatemo_topgap">
                        <div class="templatemo_mainimg templatemo_botgap"><img src="~/img/infoimg/woman.jpg" alt="service image"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- elder abuse end -->
        <!-- types of abuse start -->
        <div class="content about" id="menu-5">
            <div class="container">
                <div class="row templatemo_bordergapborder">
                    <!--vertical Tabs-->
                    <div id="ab">
                        <div class="col-md-3 col-sm-12 templatemo_leftgap_about">
                            <ul class="resp-tabs-list templatemo_tab">
                                <li>Physical Abuse</li>
                                <li>Psychological Abuse</li>
                                <li>Financial Abuse</li>
                                <li>Sexual Abuse</li>
                                <li>Neglect</li>
                            </ul>
                            <div class="templatemo_aboutlinkwrapper">
                                <div class="templatemo_link"><a id="title_look" class="show-1 templatemo_homeabout" href="#">Go Back</a></div>
                            </div>
                        </div>
                        <div class="resp-tabs-container templatemo_aboutcontainer">
                            <div>
                                <div class="templatemo_col50 templatemo_rightgap_about">
                                    <div class="templatemo_graybg templatemo_botgap">
                                        <div class="templatemo_frame">
                                            <h3>Physical Abuse</h3>
                                            <p style="font-size: 20px;">
                                                Physical abuse involves the infliction of physical pain or injury, or physical coercion.
                                            </p>
                                            <h3>Behaviors</h3>
                                            <p style="font-size: 20px; ">
                                                •  Pushing, shoving or rough–handling.<br />
                                                •  Kicking, hitting, punching, slapping, biting, or burning.<br />
                                                •  Restraining: physically or medically.<br />
                                                •  Locking the person in a room or home.<br />
                                                •  Intentional injury with a weapon or object.<br />
                                                •  Overuse or misuse of medications.<br /><br />
                                            </p>
                                            <h3>Signs</h3>
                                            <p style="font-size: 20px; ">
                                                •  Internal or external injuries (sprains; dislocations and fractures; pressure sores; unexplained bruises or marks on the body; pain on touching or injuries at different stages of healing).<br />
                                                •  Broken or healing bones.<br />
                                                •  Lacerations to mouth, lips, gums, eyes or ears.<br />
                                                •  Missing teeth and eye injuries.<br />
                                                •  Evidence of hitting, punching, shaking or pulling (e.g. bruises, lacerations, choke marks, hair loss or welts).<br />
                                                •  Burns (e.g. rope, cigarettes, matches, iron, or hot water).<br />
                                                •  Discrepancies between an injury and the explanation of how it happened.<br /><br />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="templatemo_col50 templatemo_leftgap templatemo_botgap"><img src="~/img/infoimg/old.jpg" alt="about image"></div>
                            </div>
                            <div>
                                <div class="templatemo_col50 templatemo_rightgap_about">
                                    <div class="templatemo_graybg templatemo_botgap">
                                        <div class="templatemo_frame">
                                            <h3>Psychological Abuse</h3>
                                            <p style="font-size: 20px; ">
                                                Psychological abuse is the infliction of mental stress, fear or feelings of shame and powerlessness. It may be verbal or non-verbal, and is usually a pattern of behaviour repeated over time and intended to control the person. Psychological abuse includes social isolation.
                                            </p>
                                            <h3>Behaviors</h3>
                                            <p style="font-size: 20px; ">
                                                •  Pressuring, bullying, intimidating and harassing a person.<br />
                                                •  Verbal abuse, including name-calling<br />
                                                •  Frightening and/or threatening to harm someone, or break belongings.<br />
                                                •  Threats to harm someone’s pet.<br />
                                                •  Threats of placing a person into an aged-care facility.<br />
                                                •  Treating an older person as if they are a child.<br />
                                                •  Engaging in emotional blackmail.<br />
                                                •  Preventing contact with family and friends.<br />
                                                •  Denying access to services, religious (spiritual) and/or cultural events.<br />
                                                •  Misusing the function of Enduring Guardianship.<br />
                                                •  Screening telephone calls, listening in to calls or disconnecting the telephone without the person’s consent, or withholding mail.<br />
                                                •  Taking control of the person’s home without their consent.<br />
                                                •  Moving a person far away from family or friends or otherwise socially isolating a person.<br />
                                                •  Withholding affection.<br /><br />
                                            </p>
                                            <h3>Signs</h3>
                                            <p style="font-size: 20px; ">
                                                •  Feelings of helplessness, shame and powerlessness. <br />
                                                •  Changes in levels of self-esteem.<br />
                                                •  Sadness or grief at the loss of important relationships.<br />
                                                •  Depression, withdrawal or listlessness due to a lack of social interaction.<br />
                                                •  Worry or anxiety after a visit by a specific person.<br />
                                                •  Confusion, agitation and social withdrawal.<br />
                                                •  Unexplained paranoia or excessive fear and anxiety.<br />
                                                •  Disrupted appetite or sleep patterns.<br />
                                                •  Unusual passivity or anger.<br /><br />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="templatemo_col50 templatemo_leftgap templatemo_botgap"><img src="~/img/infoimg/people.jpg" alt="history image"></div>
                            </div>
                            <div>
                                <div class="templatemo_col50 templatemo_rightgap_about">
                                    <div class="templatemo_graybg templatemo_botgap">
                                        <div class="templatemo_frame">
                                            <h3>Financial Abuse</h3>
                                            <p style="font-size: 20px; ">
                                                Financial abuse is the illegal or improper use of an older person’s assets.3 Assets can include property and finances.
                                            </p>
                                            <h3>Behaviors</h3>
                                            <p style="font-size: 20px; ">
                                                •  Threatening, coercing or influencing a person to change their Will or sign documents relating to their assets.<br />
                                                •  Taking control of a person’s finances against their wishes and denying access to their own money.<br />
                                                •  Abusing Powers of Attorney by taking money or property.<br />
                                                •  Stealing goods, e.g. jewellery, credit cards, cash, food or other possessions.<br />
                                                •  Stealing money such as pension–skimming and selling belongings without the person’s permission.<br />
                                                •  Recent addition of a signature on a bank account.<br /><br />
                                            </p>
                                            <h3>Signs</h3>
                                            <p style="font-size: 20px;">
                                                •  Unexplained disappearance of belongings.<br />
                                                •  Unauthorised use of banking and financial documents.<br />
                                                •  Inability to pay bills.<br />
                                                •  Significant bank withdrawals.<br />
                                                •  Changes to Wills.<br />
                                                •  Inability of a person to access bank accounts or statements.<br />
                                                •  Stockpiling of unpaid bills.<br />
                                                •  Insufficient food in the fridge.<br />
                                                •  Disparity between living conditions and money.<br />
                                                •  No money to pay for essentials for the home including food, clothing or utilities.<br />
                                                •  Cancelling or refusing community services.<br /><br />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="templatemo_col50 templatemo_leftgap templatemo_botgap"><img src="~/img/infoimg/money.jpg" alt="vision image"></div>
                            </div>
                            <div>
                                <div class="templatemo_col50 templatemo_rightgap_about">
                                    <div class="templatemo_graybg templatemo_botgap">
                                        <div class="templatemo_frame">
                                            <h3>Sexual Abuse</h3>
                                            <p style="font-size: 20px; ">
                                                Sexual abuse is a term used to describe a range of sexual acts where the victim’s consent has not been obtained or where consent has been obtained through coercion.
                                            </p>
                                            <h3>Behaviours</h3>
                                            <p style="font-size: 20px; ">
                                                •  Sexual assault: touching or penetration of the vagina or anus.<br />
                                                •  Indecent assault: any unwanted sexualised behaviour such as grabbing someone’s breast or penis; exposing genitals.<br />
                                                •  Aggravated sexual assault: indicates use of a weapon, force or threat.<br />
                                                •  Non-consensual sexual contact and other sexual behaviours.<br />
                                                •  Cleaning or treating the older person’s genital area roughly or inappropriately.<br />
                                                •  Unwanted exposure to pornography.<br />
                                                •  Enforced nudity of an older person.<br />
                                                •  Sexual harassment: any unwanted or unwelcome sexual behaviours.<br />
                                                •  Any behaviour that makes an older person feel uncomfortable about their body or gender.<br /><br />
                                            </p>
                                            <h3>Signs</h3>
                                            <p style="font-size: 20px; ">
                                                •  Unexplained STD or incontinence (bladder or bowel).<br />
                                                •  Injury and trauma (scratches, bruises etc.) to face, neck, chest, abdomen, thighs or buttocks.<br />
                                                •  Trauma including bleeding around the genitals, chest, rectum or mouth.<br />
                                                •  Torn or bloody underclothing or bedding.<br />
                                                •  Human bite marks.<br />
                                                •  Difficulty walking, sitting or pain when toileting.<br />
                                                •  Anxiety around the perpetrator and other psychological symptoms.<br />
                                                •  Fear of being touched.<br /><br />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="templatemo_col50 templatemo_leftgap templatemo_botgap"><img src="~/img/infoimg/tree.jpg" alt="vision image"></div>
                            </div>
                            <div>
                                <div class="templatemo_col50 templatemo_rightgap_about">
                                    <div class="templatemo_graybg templatemo_botgap">
                                        <div class="templatemo_frame">
                                            <h3>Neglect</h3>
                                            <p style="font-size: 20px; ">
                                                Neglect is a term used to describe the failure of a carer or responsible person to
                                                provide the necessities of life to an older person. Some examples are adequate food,
                                                shelter, clothing, medical or dental care and neglecting to meet a person’s emotional
                                                Needs.<br /><br />
                                            </p>
                                            <h3>Behavior</h3>
                                            <p style="font-size: 20px; ">
                                                •  Failure to provide adequate: food; shelter; clean clothing; heating/cooling;
                                                medicines; medical or dental care.<br />
                                                •  Under- or over-medicating.<br />
                                                •  Refusal to permit others to provide assessments or appropriate care.<br />
                                                •  Preventing the person from accessing services and/or equipment and support.<br />
                                                •  Exposure to danger or lack of supervision.<br />
                                                •  An overly attentive carer in the company of others; the “hovering carer”.<br />
                                                •  Misusing the role of Guardian.<br /><br />
                                            </p>
                                            <h3>Signs</h3>
                                            <p style="font-size: 20px; ">
                                                •  Inadequate clothing; complaints by the person of being too cold or too hot.<br />
                                                •  Poor personal hygiene; unkempt appearance.<br />
                                                •  Lack of medical or dental care.<br />
                                                •  Injuries that have not been properly cared for.<br />
                                                •  Absence of required assistive technologies.<br />
                                                •  Exposure to unsafe, unhealthy or unsanitary conditions.<br />
                                                •  Unexplained weight loss; dehydration; and malnutrition.<br />
                                                •  Poor skin integrity, e.g. pressure sores.<br /><br />
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="templatemo_col50 templatemo_leftgap templatemo_botgap">
                                    <img src="~/img/infoimg/elder.jpg" alt="vision image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 templatemo_leftgap templatemo_aboutlinkwrapper1">
                        <div class="templatemo_aboutback templatemo_botgap">
                            <div class="templatemo_link"><a id="title_look" class="show-1 templatemo_homeabout" href="#">Go Back</a></div>
                        </div>
                    </div>
                </div>
                </div>
        </div>
        <!-- types of abuse end -->
        <!-- prevent start -->
        <div class="content prevent" id="menu-6">
            <div class="container">
                <div class="row templatemo_bordergapborder">
                    <div class="col-md-3 col-sm-12 templatemo_leftgap">
                        <div class="templatemo_mainimg templatemo_botgap"><img src="~/img/infoimg/hand2.jpg" alt="contact image"></div>
                        <div class="templatemo_maincontact templatemo_botgap">
                            <div class="templatemo_linkcontact"><a id="title_look" class="show-1 templatemo_homeprevent" href="#">Go Back</a></div>
                        </div>
                    </div>

                    <div class="templatemo_col37 col-sm-12 templatemo_leftgap">
                        <div class="templatemo_graybg templatemo_botgap">
                            <div class="templatemo_frame">
                                <h3>Get to know abuse</h3>
                                <p style="font-size: 20px; ">
                                    There are five types of abuses, physical, psychological, financial, sexual and neglect. They happen with different signs and behaviors. For more information, Click on "Back" and "Elder Abuse".<br /><br />
                                </p>
                                <br />
                                <h3>Early Detection</h3>
                                <p style="font-size: 20px; ">
                                    Here are different screening tools for elder abuse that are be used internationally, including Elder Abuse Suspicion Index(EASI) and the Modified Caregiver Strain Index(MCSI). But please use them with guidance of prefessional instructor. If you want to quick check about your own situation, you can click on "Questions" button above.<br /><br />
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="templatemo_col37 col-sm-12 templatemo_leftgap templatemo_topgap">
                        <div class="templatemo_graybg templatemo_botgap">
                            <div class="templatemo_frame">
                                <h3>Seek for help</h3>
                                <p style="font-size: 20px;">
                                    If you or the one you concerned about is potentially being abused, please don't hesitate to contact police, general practitioners and professionals<br /><br />
                                </p>
                                <h3>Senior Online</h3>
                                <p style="font-size: 20px; ">
                                    <a href="www.seniorsonline.vic.gov.au">www.seniorsonline.vic.gov.au</a> <br />
                                    This is a website developed by the Department of Health for seniors. The ‘Your Rights’ section has a range of contact details for older people including fact sheets on elder abuse.<br /><br />
                                </p>
                                <h3>Consumer Affairs Victoria</h3>
                                <p style="font-size: 20px; ">
                                    <a href="www.consumer.vic.gov.au">www.consumer.vic.gov.au</a> <br />
                                    For information on your rights when buying goods and services or to report scams and swindles contact Consumer Affairs Victoria on <b>1300 55 81 81</b> <br /><br />
                                </p>
                                <h3>My Aged Care</h3>
                                <p style="font-size: 20px; ">
                                    
                                    <a href="https://www.myagedcare.gov.au/">My Aged Care</a> is an Australian government gateway (website and contact center) to
                                    access information about aged care services in the home, residential care and respite.
                                    Services in the home can contribute to older people being less vulnerable to abuse
                                    as they can address one of the key risk factors: social isolation. My Aged Care is also the site where people can obtain information about Aged Care Assessment Teams in their area. For further information call <b>1800 200 422</b>. <br /><br />
                                </p>
                                <h3>Seniors Rights Victoria</h3>
                                <p style="font-size: 20px; ">
                                    <a href="https://seniorsrights.org.au/">www.seniorsrights.org.au</a> <br />                                    
                                    This free helpline, legal, advocacy and referral service on elder abuse is funded by the Victorian Government. This confidential service is staffed by qualified and experienced people who can help you. Seniors Rights Victoria can be contacted on <b>1300 368 821</b> from 10 AM to 5 PM, Monday to Friday. <br /><br />
                                </p>
                                <h3>Elder Abuse Hotline</h3>
                                <p style="font-size: 20px; ">
                                    <a href="http://www.dvrcv.org.au/support-services/victorian-services">Elder Abuse Hotline</a> <br />
                                    This website listed helpline information based on the Victoria regions. Have a look based on your situation.<br /><br />
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- prevent end -->
        <!-- facts start -->
        <div class="content testimonial" id="menu-4">
            <div class="container">
                <div class="row templatemo_bordergapborder">
                    <div class="col-md-3 col-sm-12 templatemo_leftgap">
                        <div class="templatemo_mainimg templatemo_botgap"><img src="~/img/infoimg/sign.jpg" alt="service image"></div>
                        <div class="templatemo_maintestimonial templatemo_botgap">
                            <div class="templatemo_linkservice"><a id="title_look" class="show-1 templatemo_hometestimonial" href="#">Go Back</a></div>
                        </div>
                    </div>

                    <div class="templatemo_col37 col-sm-12 templatemo_leftgap">
                        <div class="templatemo_graybg">
                            <div class="templatemo_frame">
                                <h3>Key Facts</h3>
                                <div class="clear"></div>
                                <p style="font-size: 20px;">
                                    • Between 2015 and 2050, the proportion of the world's population over 60 years will nearly double from 12% to 22%.<br /><br />
                                    • By 2020, the number of people aged 60 years and older will outnumber children younger than 5 years.<br /><br />
                                    • In 2050, 80% of older people will be living in low- and middle-income countries.<br /><br />
                                    • The pace of population ageing is much faster than in the past.<br /><br />
                                    • All countries face major challenges to ensure that their health and social systems are ready to make the most of this demographic shift.<br /><br />
                                    • Around 1 in 6 people 60 years and older experienced some form of abuse in community settings during the past year.<br /><br />
                                    • Rates of elder abuse are high in institutions such as nursing homes and long-term care facilities, with 2 in 3 staff reporting that they have committed abuse in the past year.<br /><br />
                                    • Elder abuse can lead to serious physical injuries and long-term psychological consequences.<br /><br />
                                    • Elder abuse is predicted to increase as many countries are experiencing rapidly ageing populations.<br /><br />
                                    • The global population of people aged 60 years and older will more than double, from 900 million in 2015 to about 2 billion in 2050.<br /><br />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="templatemo_col37 col-sm-12 templatemo_leftgap templatemo_topgap">
                        <div class="templatemo_mainimg templatemo_botgap"><img src="~/img/infoimg/pedestrian.jpg" alt="service image"></div>
                    </div>
                    
                </div>
            </div>

        </div>
        <!-- facts end -->

    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);

                    $name.text($tab.text());

                    $info.show();

                }
            });

            $('#ab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true,
            });


            $('#cmt').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true,
            });
        });
    </script>

</div>