@Scripts.Render("~/Scripts/quiz.js")
@Styles.Render("~/Content/quizStyle.css")


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div id="surveyElement">
    <survey :survey='survey' />
</div>*@
<div id="surveyContainer"><survey :survey="survey"></survey></div>
    
<script type="text/javascript" src="~/Scripts/quiz.js"></script>
<div id="surveyResult"></div>
<div id="surveyResultAbuse"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
