@model IEnumerable<ElderAbuse.Models.Question>

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questionnaire Result</h2>






<p>
    <span>
        Based on the answers that you gave, there is a very high likelihood that you are @ViewBag.AbuseType
    </span>
</p>
