@model IEnumerable<ElderAbuse.Models.Question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questionnaire</h2>






<table class="table">
    


    <tr>
        
        <td>
           
            @Html.ActionLink("Start", "Details", new { id=1 }) 
            
        </td>
    </tr>


</table>
