@Scripts.Render("~/Scripts/quiz.js")

@Styles.Render("~/Content/quizStyle.css")


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top:60px" id="surveyContainer"><survey :survey="survey"></survey></div>

<script type="text/javascript" src="~/Scripts/quiz.js"></script>
<div class="abuseResult">
    <div style="text-align:center" id="surveyResult"></div>
    <div id="surveyResultAbuse"></div>
    <div style="text-align:center" id="infobutton"></div>
    <div style="text-align:center;margin-bottom:20px;" id="NextSurvey"></div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
