

@{
    ViewBag.Title = "Emotional Abuse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div><h2 style="padding-top:70px;background-color:white">Emotional Abuse</h2></div>

<div style="text-align:justify">
    <p>
        <h4>What is Emotional Abuse ?</h4>
        Physical Abuse can be considered as any form of assault that includes but not limited to pushing, kicking, hitting, slapping, shoving etc. It
        also includes physical restraint and inappropriate use of drugs.
    </p>
    <br />
    <p>
        <h4>What to do ?</h4>
        <h5>
            If you or someone you know is experiencing violence and need help or support,
            please contact or browse one of the support hotline numbers/websites below -
        </h5>
        <ul style="margin-left:20px;">
            <li>  If in an emergency or immediate danger, call <b>Triple Zero (000)</b> for Police and Ambulance. <br /></li>
            <li><a href="https://seniorsrights.org.au/your-rights/physical-abuse/" target="_blank">Senior Rights Victoria </a> provides free support and assistance. Call <b>1300 368 821</b> for free and confidential information</li>
            <li> If you are deaf, have a hearing impairment or have difficulty being understood verbally, the National Relay Service can help by asssisting you with the <a href="https://relayservice.gov.au/making-a-call/emergency-calls/" target="_blank">emergency call.</a></li>
            <li> The <a href="https://www.whiteribbon.org.au/find-help/domestic-violence-hotlines/" target="_blank">White Ribbon</a> provides hotline numbers that help prevent domestic violence. Kindly go through the website </li>
        </ul>
    </p>

</div>
<div>
    <h3>Find the nearest police station here</h3>
    <div id="map" style="width:400px;height:400px">

    </div>
</div>
