

@{
    ViewBag.Title = "Emotional Abuse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div><h2 style="padding-top:70px;background-color:white">Emotional Abuse</h2></div>



<div class="col-sm-10" id="fontChange" style="text-align:justify">
    <h3>What is Emotional/Psychological Abuse ?</h3>
    <p>
        According to Australian Network for the Prevention of Elder Abuse (ANPEA), Emotional & Psychological Abuse involves
        infliction of mental anguish, including actions that cause fear of violence, isolation or deprivation, and feelings of shame, indignity or powerlessness.
    </p>
    <br />

    <h3>What is involved ?</h3>
    <h5>
        <p> Most of abused elders are from aged care homes. The older the resident is, the higher is the risk of abuse. The risk increases if the elder
        suffers from cognitive problems or severe memory impairment. The abuse can be verbal or non verbal and it involves - </p>
    </h5>

    <ul style="margin-left:20px;">

        <li> <p>Ignoring a needy elder</p></li>
        <li> <p>Isolating elders froms socializing with people</p></li>
        <li> <p>Blaming and demeaning elders frequently</p></li>
        <li> <p>Threatening and terrorizing elders</p></li>
        <li> <p>Humiliating and ridiculing elders in front of others</p></li>
        <li> <p>Any act that causes emotional distress to elders</p></li>

    </ul>

    <br />

    <h3>What to do ?</h3>

    <h5>
        <p>
            If you or someone you know is experiencing Emotional or Psychological abuse and need help or support,
            please contact or browse one of the support hotline numbers/websites below -
        </p>
    </h5>
    <ul style="margin-left:20px;">
        <li> <p><a href="https://seniorsrights.org.au/your-rights/physical-abuse/" target="_blank">Senior Rights Victoria </a> provides free support and assistance. Call <b>1300 368 821</b> for free and confidential information</p></li>
        <li> <p>Ensure to remove the elder from the facility and report immediately to the authorities </p></li>
        <li> <p>Help the elder with a counselor. </p></li>
        <li> <p>In very severe cases of such elder emotional abuse, they require medication to calm down, cope with the emotional distress, and sleep regularly</p></li>
    </ul>


</div>
<div class="col-sm-2">
    <a href="javascript:increaseFontSize();" style="font-size:18px">+ Larger Text</a><br />
    <a href="javascript:decreaseFontSize();" style="font-size:18px">- Smaller Text</a>
</div>
<div>
    <h3>Find the nearest Hospitals or Counselor services here</h3>
    <div id="map" style="width:400px;height:400px">

    </div>
</div>

