

@{
    ViewBag.Title = "Emotional Abuse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div><h2 style="padding-top:70px;background-color:white">Emotional Abuse</h2></div>



<div class="col-sm-10" id="fontChange" style="text-align:justify">
    <h3>What is Emotional Abuse ?</h3>
    <p>
        According to Australian Network for the Prevention of Elder Abuse (ANPEA), Emotional & Psychological Abuse involves
        infliction of mental anguish, including actions that cause fear of violence, isolation or deprivation, and feelings of shame, indignity or powerlessness.
    </p>
    <br />

    <h3>What is involved ?</h3>
    <h5>
        <p>  </p>
    </h5>

    <ul style="margin-left:20px;">

        <li> <p>A person is denied access to basic amenities which also includes internet and transport</p></li>
        <li> <p>A person is forced to contribute financially to the family</p></li>
        <li> <p>A person's account and finances are controlled by someone else without consent</p></li>
        <li> <p>A person is forced to take loans for someone else</p></li>
        <li> <p>A person's property is sold without his/her permission (even if threateningly)</p></li>
        <li> <p>A person is denied access to his/ger money or is hidden without access</p></li>
        <li> <p>A person's banking information is accessed by online scammers through mails and phone calls</p></li>

    </ul>

    <br />

    <h3>What to do ?</h3>

    <h5>
        <p>
            If you or someone you know is experiencing financial abuse and need help or support,
            please contact or browse one of the support hotline numbers/websites below -
        </p>
    </h5>
    <ul style="margin-left:20px;">
        <li> <p><a href="https://seniorsrights.org.au/your-rights/physical-abuse/" target="_blank">Senior Rights Victoria </a> provides free support and assistance. Call <b>1300 368 821</b> for free and confidential information</p></li>
        <li> <p> <a href="http://www.legalaid.vic.gov.au/" target="_blank">Victoria Legal Aid</a> provides free legal advice for such cases of financial abuse<</p>/li>
        <li> <p> <a href="http://era.asn.au/" target="_blank">Elder Rights Advocay </a> provides free advocacy services for elders receiving aged care services. Contact <b>1800 700 600 or (03) 9602 3066</b> to discuss the problem with one of their skilled Advocates</p></li>
        <li> <p> Go to <a href="https://www.scamwatch.gov.au/" target="_blank">ScamWatch</a> to check whether you have been scammed and report a scam</p></li>
    </ul>


</div>
<div class="col-sm-2">
    <a href="javascript:increaseFontSize();" style="font-size:18px">+ Larger Text</a><br />
    <a href="javascript:decreaseFontSize();" style="font-size:18px">- Smaller Text</a>
</div>
<div>
    <h3>Find the nearest police station here</h3>
    <div id="map" style="width:400px;height:400px">

    </div>
</div>

