

@{
    ViewBag.Title = "Financial Abuse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div><h2 style="padding-top:70px;background-color:white">Financial Abuse</h2></div>

<div style="text-align:justify">

    <a href="javascript:increaseFontSize();">A+</a>
    <a href="javascript:decreaseFontSize();">A-</a>
    <p>
        <h4>What is Financial Abuse ?</h4>
        According to World Health Organization, Financial Abuse is the exploitation of someone financially by stealing or misusing his/her money or assets.
        Improper or illegal use of a person's assets like properties or finances as well as any other assets without permissoon or approval from that person or
        where the permission is obtained by fraud or manipulation also falls under financial abuse.
    </p>
    <br />
    <p>
        <h4>What is involved ?</h4>
        <h5>
            The most usual cases are between an elder and his/her family member. Even friends and elder carers are involved. It involves - </h5>
        <ul style="margin-left:20px;">
                <li> A person is denied access to basic amenities which also includes internet and transport</li>
                <li> A person is forced to contribute financially to the family</li>
                <li> A person's account and finances are controlled by someone else without consent</li>
                <li> A person is forced to take loans for someone else</li>
                <li> Someone is selling a person's property without his/her permission (even if threateningly)</li>
                <li> A person is denied access to his/ger money or is hidden without access</li>
        <li>A person's banking information is accessed by online scammers through mails and phone calls</li>
            </ul>
    </p>
    <br />
    <p>
        <h4>What to do ?</h4>
        <h5>
            If you or someone you know is experiencing financial abuse and need help or support,
            please contact or browse one of the support hotline numbers/websites below -
        </h5>
        <ul style="margin-left:20px;">
            <li><a href="https://seniorsrights.org.au/your-rights/physical-abuse/" target="_blank">Senior Rights Victoria </a> provides free support and assistance. Call <b>1300 368 821</b> for free and confidential information</li>
            <li> <a href="http://www.legalaid.vic.gov.au/" target="_blank">Victoria Legal Aid</a> provides free legal advice for such cases of financial abuse</li>
            <li> <a href="http://era.asn.au/" target="_blank">Elder Rights Advocay </a> provides free advocacy services for elders receiving aged care services. Contact <b>1800 700 600 or (03) 9602 3066</b> to discuss the problem with one of their skilled Advocates</li>
            <li>Go to <a href="https://www.scamwatch.gov.au/" target="_blank">ScamWatch</a> to check whether you have been scammed and report a scam</li>
        </ul>
    </p>

</div>
<div>
    <h3>Find the nearest police station here</h3>
    <div id="map" style="width:400px;height:400px">

    </div>
</div>
<script>
    var min = 8;
    var max = 18;
    function increaseFontSize() {
        var p = document.getElementsByTagName('P');
        for (i = 0; i < p.length; i++) {
            if (p[i].style.fontSize) {
                var s = parseInt(p[i].style.fontSize.replace("px", ""));
            } else {
                var s = 12;
            }
            if (s != max) {
                s += 1;
            }
            p[i].style.fontSize = s + "px"
        }
    }
    function decreaseFontSize() {
        var p = document.getElementsByTagName('p');
        for (i = 0; i < p.length; i++) {
            if (p[i].style.fontSize) {
                var s = parseInt(p[i].style.fontSize.replace("px", ""));
            } else {
                var s = 12;
            }
            if (s != min) {
                s -= 1;
            }
            p[i].style.fontSize = s + "px"
        }

    }
</script>
