

@{
    ViewBag.Title = "Neglect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div><h2 style="padding-top:70px;background-color:white">Financial Abuse</h2></div>



<div class="col-sm-10" id="fontChange" style="text-align:justify">
    <h3>What is Neglect ?</h3>
    <p>
        Neglect is the deprivation of the basic necessities of life to an elder. Neglect can be intentional/active or unintentional/passive (ANPEA).
        Unintentional/Passive neglect occurs when a carer does not have the skills, knowledge or ability to take care of an elder.
       Intentional/Active neglect is when an elder person is deliberately not taken care off and is denied access to the required basic necessities of life.
       In most of the cases, self-neglect is not considered as an abuse an elder's right to make their own decision must be respected when the decisions affect their live.

    </p>
    <br />

    <h3>What is involved ?</h3>

    <p> Elder neglect constitutes more than half of all reported cases of elder abuse in the world. The reported cases mostly involves caretakers that have been given
    the responsibility of taking care of an elder. Neglect involves - </p>


    <ul style="margin-left:20px;">

        <li> <p>Abandoning an elder</p></li>
        <li> <p>Not providing adequate food, shelter or clothing</p></li>
        <li> <p>Not giving an elder th required medical care</p></li>
        <li> <p>Improper use medications as well pooe hygene</p></li>
        <li> <p>Even refusing other from providing adequate care to elders</p></li>
        <li> <p>Elder negect also involves issues of the carer where the carer is stressed, depressed, lack support, untrained, frustrated, underpaid etc etc</p></li>

    </ul>

    <br />

    <h3>What to do ?</h3>

    <p>
        If you or someone you know is experiencing Neglect and need help or support,
        please contact or browse one of the support hotline numbers/websites below -
    </p>
    <ul style="margin-left:20px;">
        <li> <p><a href="https://seniorsrights.org.au/your-rights/physical-abuse/" target="_blank">Senior Rights Victoria </a> provides free support and assistance. Call <b>1300 368 821</b> for free and confidential information</p></li>
        <li> <p> Ensure that the elders are happy. Studies say that elders feel happy and relieved when they meet small children. Try to create to make a nursery visit for the elders to interact with the children atlease once every fortnight</p></li>
        <li> <p> Call upp and visit the elders often</p></li>
        <li> <p> Help a caretaker by giving them a break while you take the opportunity to stay with the elder</p></li>
        <li> <p> Make use of support groups for caretakers and get help from therapists</p></li>
        <li> <p> Ensure to alleviate any caretaker stress</p></li>
        <li> <p>If you are a caretaker then seek therapy, help from other family membere, or consider other care options for the elderly person</p></li>
    </ul>

    <br />
    <br />
</div>
<div class="col-sm-2">
    <a href="javascript:increaseFontSize();" style="font-size:18px">+ Larger Text</a><br />
    <a href="javascript:decreaseFontSize();" style="font-size:18px">- Smaller Text</a>
</div>
<div style="margin-top:10px">

    <h3>Find the nearest age care homes here</h3>
    <div class="row">
        <div class="col-lg-12">
            <iframe src="@Url.Content("~/HTML/aged-care-map.html")" frameborder="0" scrolling="no"
                    style="height: 600px;
                                                width: 100%; float: right; " height="600" width="100%"
                    align="top"></iframe>


        </div>
    </div>
</div>

