

@{
    ViewBag.Title = "Sexual Abuse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div><h2 style="padding-top:70px;background-color:white">Sexual Abuse</h2></div>



<div class="col-sm-10" id="fontChange" style="text-align:justify">
    <h3>What is Sexual Abuse ?</h3>
    <p>
        Sexual abuse can be defined as any sexual activity or behaviour for the cases where the elder person does not provide consent or
        unable to give consent due to physical or mental illness. It is a sexually abusive and an exploitative behaviour (ANPEA).
    </p>
    <br />

    <h3>What is involved ?</h3>

    <p>
        Many of the victims of elder sexual abuse are not able communicate enough to help dentify what happened or who their perpetrator was.
        In most of the cases, the common perpetrators were friends, live-in nursing aids, nursing home assistants, family members and other types of care providers that take care of these elders.
        According to research, women are 6 times more likely to be victims of elder sexual abuse and about About 83 percent of victims of elder sexual abuse reside in an institutional care center, such as a nursing homes (nursinghomeabusecenter).
    </p>


    <ul style="margin-left:20px;">

        <li> <p>Any uninvited and forceful sexual approaches to an elder</p></li>
        <li> <p>Inappropriately touching elders without their consent</p></li>
        <li> <p>All forms of exhibitionism</p></li>
        <li> <p>Commenting at the elders that are sexually suggestive</p></li>
        <li> <p>Forcing elders to view images, videos and materials that are sexually explicit</p></li>
        <li> <p>Leaving an elder in a state of undress and denying them basic clothing</p></li>
        <li> <p>All sorts of indecent behaviour to elders</p></li>

    </ul>

    <br />

    <h3>What to do ?</h3>

    <p>
        There are a number of services available nationally, such as <b>1800 RESPECT</b>, but there are also Victoria-based services as well.
        If it is suspected that elder sexual abuse has taken place, family members or other nursing home staff should report the incident to authorities. If you or someone you know is experiencing sexual abuse and need help or support,
        please contact or browse any of the support hotline numbers/websites below -
    </p>
    <ul style="margin-left:20px;">
        <li> <p><a href="https://seniorsrights.org.au/your-rights/physical-abuse/" target="_blank">Senior Rights Victoria </a> provides free support and assistance. Call <b>1300 368 821</b> for free and confidential information</p></li>
        <li> <p> <a href="https://au.reachout.com/articles/sexual-assault-support" target="_blank">Reach Out</a> provides free support services. </p></li>
        <li> <p> If you are deaf, have a hearing impairment or have difficulty being understood verbally, the National Relay Service can help by asssisting you with the <a href="https://relayservice.gov.au/making-a-call/emergency-calls/" target="_blank">emergency call.</a> </p></li>

    </ul>

    <br />
    <br />
</div>
<div class="col-sm-2">
    <a href="javascript:increaseFontSize();" style="font-size:18px">+ Larger Text</a><br />
    <a href="javascript:decreaseFontSize();" style="font-size:18px">- Smaller Text</a>
</div>
<div>
   
    <h3>Find the nearest police station and hospital here</h3>
    <div id="map" style="width:400px;height:400px">

    </div>
</div>

